.container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(200, 200, 200, 0.5);
  position: fixed;
  top: 0;
  z-index: 999;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

.wrapper {
  width: 500px;
  background-color: white;
  padding: 20px 50px;
  padding-bottom: 30px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.15);
}

.close {
  position: absolute;
  width: 30px;
  height: 30px;
  background-color: black;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  top: -10px;
  right: -10px;
}

.close:hover {
  transition: transform 0.3s;
  transform: scale(1.2);
}

.item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.label {
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 14px;
}

.input {
  border: none;
  border-bottom: 1px solid rgba(128, 128, 128, 0.3);
  outline: none;
}

.priceContainer {
  display: flex;
  justify-content: space-between;
}

.inputSm {
  width: 25%;
}

.extra {
  display: flex;
  justify-content: space-between;
}

.extraItems {
  margin: 10px 0px;
  display: flex;
  flex-wrap: wrap;
}

.extraItem {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #d1411e;
  background-color: white;
  color: #d1411e;
  margin-right: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.addButton {
  width: 25%;
  border: none;
  background-color: teal;

  color: white;
  font-weight: 500;
  cursor: pointer;
  padding: 5px 10px;
  align-self: flex-end;
  border-radius: 5px;
}

.addButton:hover {
  background-color: #1a8d8d;
}
